:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  animation: myanimation 10s infinite;
}

@keyframes myanimation {
  0% {background-color: rgb(34, 34, 34);}
  25%{background-color:rgb(3, 22, 65);}
  50%{background-color:rgb(14, 72, 222);}
  75%{background-color:rgb(3, 22, 65);}
  100% {background-color: rgb(34, 34, 34);}
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
};

